<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>. 

</p>

<%= video_tag("https://www.youtube.com/watch?v=J9NQFACZYEU", id: "player1", type: "video/youtube", size: "320x180") %>
<!-- <%= video_tag("echo-hereweare.mp4", controls: true, id: "player1", type: "video/mp4", preload: "none", size: "320x180") %> -->


<iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4th1RQAelzqgY7wL53UGQt" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>