<h1>Social Music</h1>

<p>
	Hola <%= @user.name %>,
</p>

<p>
	¡Bienvenido a SocialMusic! Haz click en el siguiente enlace para activar tu cuenta: 
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>