<h1>Reset Contraseña</h1>

<p>Para resetear su contraseña, haga click en el siguiente enlace:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>El link caduca en dos horas</p>

<p>
Si no ha pedido un cambio de contreña, ignore este email. Su contraseña seguirá siendo la misma
</p>

<h4> SocialMusic</h4>