<% provide(:title, 'SignUp') %>
<div class="welcome center col-sm-4 col-sm-offset-2 col-lg-offset-2 col-lg-4 col-xs-12 col-md-12 col-md-offset-0 col-xs-offset-0">

  <h1 class="reg">Registro</h1>
  
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.submit "Crear Cuenta", class: "mybtn btn btn-default" %>
  <% end %>

</div>

