<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
<div class="news">
	<p><strong> <i> No hay novedades... </i> </strong></p>
	<p> ยก Empieza a Eschuchar  <%= fa_icon("music")%>!</p>
</div>
<% end %>