.Home{
  background: image-url("background2.jpg");
  background-size: cover;
}

.mybtn{
	margin-bottom: 10%;
	background-color: black;
	border-color: grey;
	color: white;
	hover{
		background-color: black;
	}	
	focus{
		background-color: black;
	}
}

.logo{
	max-width: 50%;
}