.Home{
  background: image-url("background2.jpg");
  background-size: cover;
}

.mybtn{
	margin-bottom: 10%;
	background-color: black;
	border-color: grey;
	color: white;
	&:hover{
		background-color: black;
		color:green;
	}	
	&:focus{
		background-color: black;
	}
}

.logo{
	width: 50%;
	heigth: 50%;
	max-width: 50%;
}

.my-form-in{
	font-size: 10px;
}

.ftext{
	color: white;
}

#session_email{
	height: 25px;
	font-size: 10px;
}

#session_password{
	height: 25px;
	font-size: 10px;
}

.entrar{
	height: 25px;
	font-size: 10px;
}
.myc{
	color: white;
}