.mybtn{
	margin-bottom: 10%;
	margin-top: 5%;
	background-color: black;
	border-color: grey;
	color: white;
	align: center;
	weight: 100%;
	&:hover{
		background-color: black;
	}	
	&:focus{
		background-color: black;
	}
}

.allusers{
	margin-bottom:0;
}

.pag_bottom{
	margin-bottom: 5%;
}
