
body{
	background: image-url("background.jpeg");
	background-size: cover;
}
.mybtn{
	margin-bottom: 10%;
	margin-top: 5%;
	background-color: black;
	border-color: grey;
	color: white;
	align: center;
	weight: 100%;
	&:hover{
		background-color: black;
	}	
	&:focus{
		background-color: black;
	}
}

.allusers{
	margin-bottom:0;
}

.perfil{
	
	text-align: center;	
	top: -10px;
	padding: 1%;
	h1{
		text-align:center;
	}
	.gravatar{
		float: none;
	}
	.seguir{
		float: center;
		margin-bottom: 15px;
	}

	.stats .seg1 a{
		float: right;
		text-align: right;
		
	}

	.stats .seg2 a{
		float: left;
		text-align: left;
		
	}

	.stats a{
		color:black;
	}

	.stats a:hover{
		color:green;
	}

}

.perfil-user{
	text-align: center;
}

.lista{
	background: lightyellow;
	padding: 1%;
	border-radius: 5px;
	border: solid 1px lightgray;
	margin-bottom: 5%;
}

.micro{
	margin-bottom: 5%;
}


