<footer class="footer col-sm-12 col-lg-12 col-xs-12 col-md-12">
	<small>
		The <a href="https://github.com/DSI-ETSII-ULL/2015-SocialMusic">DSI PROJECT</a>
	by ROHN
	</small>
	<nav>
		<ul>
		  <li><%= link_to "Help",   help_path %></li>
		</ul>
	</nav>
</footer>